body {
    background: #eeeeee;
}

.serieschart {
}

.series {
    border: 1px solid #bdc3c7;
    padding: 50px;
    background: #ecf0f1;
}

.gold {
    fill: #f38d04;
}

.blue {
    fill: #04b9ee;
}

.label-layer1 {
    font-size: 14px;
    font-family: "Helvetica";
    fill: orange;
}

.label-layer0 {
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica";
    font-variant: small-caps;
    fill: #34495e;
}

.label-layer2 {
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica";
    font-variant: small-caps;
    fill: #2980b9;
}

.label-layer3 {
    font-size: 14px;
    font-family: "Helvetica";
    font-variant: small-caps;
//fill: #3498db;
}

.pointer0 {
    fill: none;
    stroke: #34495e;
}

.pointer1 {
    fill: none;
    stroke: orange;
}

.pointer2 {
    fill: none;
    stroke: none;
}
